<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="/static/style.css" />
  <title>{% block title %}Seite{% endblock %}{% block titlesuffix %} &ndash; Druckjobverteiler{% endblock %}</title>
  {% block addhead %}{% endblock %}
</head>
<body>
  {% block body %}
  <h1>{% block heading %}Seite{% endblock %}</h1>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
  {% endblock %}
</body>
</html>
